<h1>Book Details</h1>

<p>Title: 	<%= @book.title %></p>
<p>Author: 	<%= @book.author %></p>
<p>ISBN-13:	<%= @book.isbn %></p>

<a href="/book/<%= @book.id %>/edit">Edit Book</a></br>
<a href="/book">Return to Book Main</a>