<h1>Branch Location </h1>

<p>Branch Name: <%= @library.branch_name %> </p>
<p>Address		: <%= @library.address %> </p>
<p>Phone 			: <%= @library.phone_number %> </p>


<a href="/library">Return to Library Main</a>
