<h1>New Members</h1>

<form action="/patron"	method ="post">
	Patron Name: 	<input type = "text"		name =  "name">
	Patron Email:	<input type = "text" 		name =  "email">
								<input type=  "submit"	value="Add New Memeber">
</form>

</br>
<a href="/patron">Return to Patron Menu</a>
