<h1>New Staff Members</h1>

<form action="/staff_members/<%= @staff_member.id %>"	method ="post">
	Employee Name: 	<input type = "text"		name =  "name" 	value = "<%= @staff_member.name %>">
	Employee Email:	<input type = "text" 		name =  "email" value = "<%= @staff_member.email %>">
									<input type = "submit"	value= "Submit Edit to <%= @staff_member.name %>">
</form>

</br>
<a href="/staff_members">Return to Staff Menu</a>
